pandas>=1.5.0
numpy>=1.21.0
yfinance>=0.2.18
scipy>=1.10.0
matplotlib>=3.6.0
sqlite-utils>=3.31  # Optional but useful for managing SQLite
python-dateutil>=2.8.0
jupyterlab>=3.5.0
ipython>=8.5.0
lxml
tqdm~=4.67.1

pytest~=8.4.1